### Windows template
# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

### macOS template
*.DS_Store
.AppleDouble
.LSOverride

package-lock.json
node_modules/
.nyc_output/

# Editor directories and files
.idea
*.iml
*.iws
*.ipr
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?